.body-main {
    display: grid;
    max-width: 400px;
    width: 100%;
    background: var(--background-color);
}

.weather-main {
    margin: 3rem .25rem;
    border-radius: 8px;
    padding: 1rem;

    display: flex;
    background: var(--dark-green);

    .current-temp {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        background: transparent;
        color: var(--gray-white);
        font-weight: bold;

        p, div {
            font-size: 1em;
            background: transparent;
        }
    }

    .weather-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        background: transparent;
        color: var(--gray-white);
        font-weight: bold;
        text-transform: capitalize;
        
        img {
            background: transparent;
        }

        p {
            background: transparent;
            margin: .25rem;
        }
    }
}

.weather-minmax {
    margin: 1rem .25rem;
    border-radius: 8px;
    padding: 1rem;

    display: flex;
    justify-content: space-around;
    background: var(--dark-green);

    .min-temp, .max-temp {
        background: transparent;
        color: var(--gray-white);
        font-weight: bold;

        div, p {
            background: transparent;
        }
    }
}

.weather-other {
    margin: 1rem .25rem;
    border-radius: 8px;
    padding: 1rem;

    display: flex;
    justify-content: space-around;
    background: var(--dark-green);

    .pressure, .wind-speed, .humidity {
        background: transparent;
        color: var(--gray-white);
        font-weight: bold;

        div, p {
            background: transparent;
            display: flex;
            justify-content: center;
        }
    }
}