@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --font-family: 'Ubuntu', sans-serif;

    --background-color: #17252a;
    --dark-green: #2b7a78;
    --light-green: #3aafa9;
    --gray-white: #def2f1;
    --off-white: #feffff;
}

* {
    margin: 0;
    padding: 0;
    background: var(--background-color);
}