.header-main {
    color: white;
    font-family: var(--font-family);

    padding-bottom: 2px;
}

.gradient__bottom {
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

}

.header-secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .header-logo {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 32px;
        padding: 1rem;
    }

    .header-search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;

        input {
            color: white;
            border: solid 2px rgba(255, 255, 255, 0.5);
            padding: .5rem 2rem;
            padding-left: .75rem;
            outline: none;
        }

        input:focus {
            outline: none !important;
            border: solid 2px rgb(255, 255, 255)
          }
    }
}